$fond-sombre: #212121;
$fond-alert: #ec0101;
$fond-clair:#f9fcfb;
$fond-clair-secondaire:#eeeeee;
$fond-or:#deb881;


$font-Black:'SevenOneEight-Black', sans-serif;
$font-Book:'SevenOneEight-Book', sans-serif;
$font-ExtraBold:'SevenOneEight-ExtraBold', sans-serif;
$font-Light:'SevenOneEight-Light', sans-serif;
$font-Medium:'SevenOneEight-Medium', sans-serif;