@media (max-width: 1900px) {
  .p-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 10px;
    height: auto;
    width: 95%;
    margin-top: 3%;
  }
  .p-container .p-box .overlay-price span.price {
    font-size: 13px;
    padding: 15px;
    top: 250px;
  }
  .p-container .container .options {
    width: 35%;
    font-size: 10px;
  }
  .p-container .container .options2 {
    width: 30%;
    font-size: 10px;
  }
  .p-container .container .options3 {
    width: 65%;
    font-size: 10px;
  }
  .p-container .container .options4 {
    width: 65%;
    font-size: 10px;
  }
}

@media (max-width: 1140px) {
  .content {
    width: 100%;
  }
  .content .slidercontainer {
    max-width: 1140px;
  }
  #header {
    width: 100%;
  }
  .main-text h1 {
    font-size: 2rem;
  }
  .showSlide span .prix {
    font-size: 15px;
    top: 250px;
  }
  .p-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 10px;
    height: auto;
    width: 95%;
    margin-top: 3%;
  }
  .p-container .p-box .overlay-price span.price {
    font-size: 13px;
    padding: 15px;
    top: 230px;
  }
  .p-container .p-box .container .options {
    width: 35%;
    font-size: 10px;
  }
  .p-container .p-box .container .options2 {
    width: 30%;
    font-size: 10px;
  }
  .p-container .p-box .container .options3 {
    width: 65%;
    font-size: 10px;
  }
  .p-container .p-box .container .options4 {
    width: 65%;
    font-size: 10px;
  }
}

@media (max-width: 900px) {
  #header {
    width: 100%;
  }
  .p-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 10px;
    height: auto;
    width: 95%;
    margin-top: 3%;
  }
  .p-container .p-box .overlay-price span.price {
    font-size: 13px;
    padding: 15px;
    top: 160px;
  }
  .content .slidercontainer {
    max-width: 900px;
  }
  .container .options {
    width: 35%;
    font-size: 10px;
  }
  .container .options2 {
    width: 30%;
    font-size: 10px;
  }
  .container .options3 {
    width: 65%;
    font-size: 10px;
  }
  .container .options4 {
    width: 65%;
    font-size: 10px;
  }
}

@media (max-width: 730px) {
  #header {
    width: 100%;
  }
  footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px;
  }
  footer .footer-info p {
    text-align: center;
    font-size: 13px;
  }
  footer hr {
    width: 90px;
  }
  .content .element .main-text h1 {
    font-size: 18px;
  }
  .content .element .main-text h2 {
    font-size: 18px;
  }
  .content .element .dropdown-btn {
    height: 50%;
  }
  .content .element .dropdown-btn .btn {
    background-color: #eeeeee;
    border: 1px solid #212121;
  }
  .content .slidercontainer {
    max-width: 720px;
  }
  .p-container {
    width: 90%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin-bottom: 3%;
  }
  .p-container .p-box .overlay-price span.price {
    font-size: 13px;
    padding: 15px;
    top: 230px;
  }
  .p-container .p-box .container span {
    width: 55%;
    font-size: 10px;
  }
  .p-container .p-box .container .options {
    width: 25%;
    font-size: 12px;
  }
  .p-container .p-box .container .options2 {
    width: 20%;
    font-size: 12px;
  }
  .p-container .p-box .container .options3 {
    width: 50%;
    font-size: 12px;
  }
  .p-container .p-box .container .options4 {
    width: 40%;
    font-size: 12px;
  }
  #p-card {
    margin-bottom: 20%;
  }
}

@media (max-width: 530px) {
  .p-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 30px;
    width: 95%;
  }
  .p-container .p-box .overlay-price span.price {
    font-size: 13px;
    padding: 15px;
    top: 210px;
  }
  #header {
    width: 100%;
  }
  .content .element hr {
    width: 105px;
    border: 2px solid #212121;
  }
  .content .element .main-text h1 {
    font-size: 22px;
  }
  .content .element .main-text h2 {
    font-size: 19px;
  }
  .container span {
    width: 55%;
    font-size: 10px;
  }
  .container .options {
    width: 25%;
    font-size: 12px;
  }
  .container .options2 {
    width: 25%;
    font-size: 12px;
  }
  .container .options3 {
    width: 55%;
    font-size: 12px;
  }
  .container .options4 {
    width: 35%;
    font-size: 12px;
  }
  footer hr {
    width: 70px;
  }
}
/*# sourceMappingURL=responsive.css.map */