@font-face {
  font-family: "SevenOneEight-Black";
  src: url("../fonts/SevenOneEight-Black.ttf") format("truetype");
}

@font-face {
  font-family: "SevenOneEight-Book";
  src: url("../fonts/SevenOneEight-Book.ttf") format("truetype");
}

@font-face {
  font-family: "SevenOneEight-ExtraBold";
  src: url("../fonts/SevenOneEight-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "SevenOneEight-Light";
  src: url("../fonts/SevenOneEight-Light.ttf") format("truetype");
}

@font-face {
  font-family: "SevenOneEight-Medium";
  src: url("../fonts/SevenOneEight-Medium.ttf") format("truetype");
}

/* Footer */
@-webkit-keyframes "fade" {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes "fade" {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #eeeeee;
}

ul {
  list-style: none;
}

header {
  overflow: hidden;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  background: 100% fixed;
}

#p-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10%;
}

.p-container {
  width: 70%;
  height: 70vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-gap: 30px;
  margin-top: 3%;
  margin: auto;
}

.p-container .p-box {
  overflow: hidden;
  border-radius: 5px;
  background-color: #f9fcfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.p-container .p-box .overlay-price {
  position: absolute;
}

.p-container .p-box .overlay-price span.price {
  position: relative;
  color: #f9fcfb;
  padding: 300px;
  font-size: 14px;
  top: 170px;
  font-family: "SevenOneEight-Black", sans-serif;
}

.p-container .p-box img {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-container .p-box .container {
  padding: 2px 12px;
  margin-top: -2%;
  margin-left: 2px;
}

.p-container .p-box .container .main-name {
  font-size: 14px;
  font-family: "SevenOneEight-Book", sans-serif;
}

.p-container .p-box .container .main-name b {
  font-size: 18px;
  font-family: "SevenOneEight-ExtraBold", sans-serif;
}

.p-container .p-box .container .name {
  font-size: 13px;
  font-family: "SevenOneEight-Book", sans-serif;
}

.p-container .p-box .container .options {
  background-color: #deb881;
  color: #f9fcfb;
  width: 30%;
  display: inline;
  float: left;
  text-align: center;
  font-size: 11px;
  font-family: "SevenOneEight-Light", sans-serif;
}

.p-container .p-box .container .options2 {
  background-color: #212121;
  color: #f9fcfb;
  width: 20%;
  display: inline;
  float: left;
  text-align: center;
  border-right: solid 20px #f9fcfb;
  font-size: 11px;
  font-family: "SevenOneEight-Light", sans-serif;
}

.p-container .p-box .container .options3 {
  background-color: #deb881;
  color: #f9fcfb;
  width: 50%;
  float: left;
  text-align: center;
  border-right: solid 50px #f9fcfb;
  font-size: 11px;
  font-family: "SevenOneEight-Light", sans-serif;
}

.p-container .p-box .container .options4 {
  background-color: #deb881;
  color: #f9fcfb;
  width: 45%;
  float: left;
  text-align: center;
  border-right: solid 70px #f9fcfb;
  font-size: 11px;
  font-family: "SevenOneEight-Light", sans-serif;
}

.p-container .p-box .container span {
  background-color: #212121;
  color: #f9fcfb;
  border-right: solid 20px #f9fcfb;
  float: left;
  width: 65%;
  font-size: 11px;
}

.content .element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content .element .main-text {
  text-align: center;
}

.content .element .main-text h1 {
  color: #ec0101;
  font-size: 30px;
  font-family: "SevenOneEight-Book", sans-serif;
}

.content .element .main-text h2 {
  font-family: "SevenOneEight-Light", sans-serif;
}

.content .element hr {
  border: 3px solid #212121;
  width: 150px;
}

.content .element .dropdown-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 2%;
}

.content .element .dropdown-btn .btn {
  background-color: #f9fcfb;
  color: #212121;
  padding: 14px;
  font-size: 22px;
  border: none;
  outline: none;
  border: 1px solid #eeeeee;
  font-family: "SevenOneEight-Medium", sans-serif;
}

.content .element .dropdown-btn .btn i {
  color: #ec0101;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 28px;
}

.content .element .dropdown-btn .dropdown {
  display: inline-block;
}

.content .element .dropdown-btn .dropdown .dropdown-content {
  display: none;
  background-color: #f9fcfb;
  min-width: 160px;
  z-index: 1;
}

.content .element .dropdown-btn .dropdown a {
  color: #212121;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.content .slidercontainer {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 5%;
}

.content .slidercontainer .showSlide {
  display: none;
}

.content .slidercontainer .showSlide .overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0.5;
}

.content .slidercontainer .showSlide span.nom {
  position: relative;
  color: #212121;
  background-color: #f9fcfb;
  top: 50px;
  float: right;
  padding: 12px;
  font-size: 20px;
  font-family: "SevenOneEight-Black", sans-serif;
}

.content .slidercontainer .showSlide img {
  width: 100%;
}

.content .slidercontainer .left {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.content .slidercontainer .left:hover {
  background-color: #212121;
  color: #f9fcfb;
}

.content .slidercontainer .right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.content .slidercontainer .right:hover {
  background-color: #212121;
  color: #f9fcfb;
}

.content .slidercontainer .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

footer {
  background-color: #212121;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}

footer .footer-info p {
  font-size: 15px;
  color: #f9fcfb;
  font-family: "SevenOneEight-Light", sans-serif;
}

footer .footer-info p b {
  font-family: "SevenOneEight-Black", sans-serif;
}

footer hr {
  border: 2px solid #ec0101;
  width: 250px;
}
/*# sourceMappingURL=style.css.map */