@import './_variables';
@import './_font';

/* Footer */
@-webkit-keyframes "fade" {
	from {
		opacity: .4;
	}
	to {
		opacity: 1;
	}
}
@keyframes "fade" {
	from {
		opacity: .4;
	}
	to {
		opacity: 1;
	}
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	text-decoration: none;
	list-style: none;
}
body {
	margin: 0px;
	padding: 0px;
	background-color: $fond-clair-secondaire;
}
ul {
	list-style: none;
}
header {
	overflow: hidden;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	img {
		background: 100% fixed;
	}
}
#p-card {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0px;
	flex-direction: column;
	margin-bottom: 10%;
}

.p-container {
	width: 70%;
	height: 70vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto;
	grid-gap: 30px;
	margin-top: 3%;
	margin: auto;
	
	.p-box {
	overflow: hidden;
	border-radius: 5px;
	background-color: $fond-clair;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	.overlay-price{
		position: absolute;
		
	}
	.overlay-price span.price{
		position: relative;
		color: $fond-clair;
		padding: 300px;
    	font-size: 14px;
		top: 170px;
		font-family: $font-Black;
		
	}

	img {
		width: 100%;
		height: 70%;
		object-fit: cover;
	}
	
	.container {
		padding: 2px 12px;
		margin-top: -2%;
		margin-left: 2px;
		
		.main-name {
			font-size: 14px;
			font-family: $font-Book;
			
		}
		.main-name b{
			font-size: 18px;
			font-family: $font-ExtraBold;
		}
		.name {
			font-size: 13px;
			font-family: $font-Book;
		}
		.options {
			background-color: $fond-or;
			color: $fond-clair;
			width: 30%;
			display: inline;
			float: left;
			text-align: center;
			font-size: 11px;
			font-family: $font-Light;
		}
		.options2 {
			background-color: $fond-sombre;
			color: $fond-clair;
			width: 20%;
			display: inline;
			float: left;
			text-align: center;
			border-right: solid 20px $fond-clair;
			font-size: 11px;
			font-family: $font-Light;
		}
		.options3 {
			background-color: $fond-or;
			color: $fond-clair;
			width: 50%;
			float: left;
			text-align: center;
			border-right: solid 50px $fond-clair;
			font-size: 11px;
			font-family: $font-Light;
		}
		.options4 {
			background-color: $fond-or;
			color: $fond-clair;
			width: 45%;
			float: left;
			text-align: center;
			border-right: solid 70px $fond-clair;
			font-size: 11px;
			font-family: $font-Light;
		}
		span {
			background-color: $fond-sombre;
			color: $fond-clair;
			border-right: solid 20px$fond-clair;
			float: left;
			width: 65%;
			font-size: 11px;
		}
	}
}
}
.content {
	.element {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: 20px 0px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		.main-text {
			text-align: center;
			h1 {
				color: $fond-alert;
				font-size: 30px;
				font-family: $font-Book;
			}
			h2{
				font-family: $font-Light;
				
			}
		}
		hr {
			border: 3px solid $fond-sombre;
			width: 150px;
		}
		.dropdown-btn {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			margin-top: 2%;
			.btn {
				background-color: $fond-clair;
				color: $fond-sombre;
				padding: 14px;
				font-size: 22px;
				border: none;
				outline: none;
				border: 1px solid $fond-clair-secondaire;
				font-family: $font-Medium;
				i {
					color: $fond-alert;
					margin-right: 10px;
					margin-left: 10px;
					font-size: 28px;
				}
			}
			.dropdown {
				display: inline-block;
				.dropdown-content {
					display: none;
					background-color: $fond-clair;
					min-width: 160px;
					z-index: 1;
				}
				a {
					color: $fond-sombre;
					padding: 12px 16px;
					text-decoration: none;
					display: block;
				}
			}
		}
	}
	.slidercontainer {
		max-width: 1000px;
		position: relative;
		margin: auto;
		margin-top: 2%;
		margin-bottom: 5%;
		.showSlide {
			display: none;
			.overlay {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				opacity: 0.5;
			}
			span.nom {
				position: relative;
				color: $fond-sombre;
				background-color: $fond-clair;
				top: 50px;
				float: right;
				padding: 12px;
				font-size: 20px;
				font-family: $font-Black;
			}
			img {
				width: 100%;
			}
		}
		.left {
			cursor: pointer;
			position: absolute;
			top: 50%;
			width: auto;
			padding: 16px;
			margin-top: -22px;
			color: $fond-sombre;
			font-weight: bold;
			font-size: 18px;
			-webkit-transition: 0.6s ease;
			transition: 0.6s ease;
			&:hover {
				background-color:$fond-sombre;
				color: $fond-clair;
			}
		}
		.right {
			cursor: pointer;
			position: absolute;
			top: 50%;
			width: auto;
			padding: 16px;
			margin-top: -22px;
			color: $fond-sombre;
			font-weight: bold;
			font-size: 18px;
			-webkit-transition: 0.6s ease;
			transition: 0.6s ease;
			right: 0;
			border-radius: 3px 0 0 3px;
			&:hover {
				background-color: $fond-sombre;
				color: $fond-clair;
			}
		}
	
		.fade {
			-webkit-animation-name: fade;
			-webkit-animation-duration: 1.5s;
			animation-name: fade;
			animation-duration: 1.5s;
		}
	}
}
footer {

	background-color: $fond-sombre;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 10px;

	.footer-info {
		p {
			font-size: 15px;
			color: $fond-clair;
			font-family: $font-Light;
		}
		p b{
			font-family: $font-Black;
		}
	}
	hr {
		border: 2px solid $fond-alert;
		width: 250px;
	}
}